<html>
    <head>
		<title>Banque</title>
        <link rel="stylesheet" href="static/styles.css">
    </head>
    <body>
        <h2>ADMIN Dashboard</h2>
    <div class="container" id="container">
        <div class="buttons">
            <a class="butts" href="/admin/getcustomers">Get customers</a>
        </div>
                   
    </div>
    <h2><a class="requrl" href="/logout"><u>Logout</u></a> <a class="requrl" href="/profile"><u>Profile</u></a></h2>

    </body>
</html>