<html>
    <head>
		<title>Banque</title>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <h2>Customers - ADMIN Dashboard</h2>
    <div class="container" id="container">
        <form action="/admin/getcustomers" method="post" name="getcustomers">
            <h3>Username</h1>
            <input type="text" placeholder="username" name="username"/>
            <button>search</button>
            <p style="color:black">{{searchresponse}}</p>
            <p style="color:black">{{user}}</p>
        </form>
                   
    </div>
    <h2><a class="requrl" href="/logout"><u>Logout</u></a></h2>
    
    </body>
</html>