<html>
    <head>
		<title>Banque</title>
        <link rel="stylesheet" href="static/styles.css">
    </head>
    <body>
        <h2>Customer Dashboard</h2>
    <div class="container" id="container">
        <div class="buttons">
            <a class="butts" href="/trx">Transactions</a>
            <a class="butts" href="/sendtrx">New transaction</a>
        </div>
                   
    </div>
    <h2><a class="requrl" href="/logout"><u>Logout</u></a></h2>
    
    </body>
</html>