<html>
    <head>
		<title>Banque</title>
        <link rel="stylesheet" href="static/styles.css">
    </head>
    <body>
        <h2>Customer Authentication</h2>
    <div class="container" id="container">
        <form action="/login" method="post" name="login">
            <h3>Username</h1>
            <input type="text" placeholder="username" name="username"/>
            <h3>Password</h1>
            <input type="password" placeholder="password" name="password"/>
            <button>Confirm</button>
            <p style="color:black">{{loginresponse}}</p>

        </form>
    </div>
    <h2><a class="requrl" href="/register"><u>Register now!</u></a></h2>

    </body>
</html>