<html>
    <head>
		<title>Banque</title>
        <link rel="stylesheet" href="static/styles.css">
    </head>
    <body>
        <h2>Send a transaction</h2>
    <div class="container" id="container">
        <form action="/sendtrx" method="post" name="sendtrx">
            <h3>Receiver IBAN</h1>
            <input type="text" placeholder="iban" name="iban"/>
            <h3>Amount</h1>
            <input type="number" placeholder="Amount" name="amount"/>
            <h3>Description</h1>
            <input type="text" placeholder="Description" name="description"/>
            <button>Confirm transaction</button>
            <p style="color:black">{{sendtrxresponse}}</p>

        </form>
                   
    </div>
    <h2><a class="requrl" href="/logout"><u>Logout</u></a></h2>
    
    </body>
</html>